fastapi
uvicorn[standard]
pandas
scikit-learn
xgboost
joblib
scipy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pytest
httpx
psycopg2-binary
sqlalchemy
slowapi
fpdf2
fastapi-mail>=1.4.2
pydantic-settings>=2.0.0
